.myBtn{
    background-color: #555971;
    padding: 7px 13px;
    border-radius: 8px;
    text-align: center;
    border: none;
    cursor: pointer;
    color: white;
    transition: background-color .1s linear;
}

.myBtn:hover{
    background-color: #5E616F;
    transition: background-color .1s linear;
}