.Slide {
    height: 724px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1240px;
    width: 100%;
}



.SlideInner{
    display: flex;
    justify-content: space-between;
    max-width: 976px;
    width: 100%;
    align-items: center;
}

.SlideInner h1 {
    color: white;
}

.Features{
    display: flex;
    flex-wrap: wrap;
    max-width: 488px;
    height: 420px;
    align-content: space-between;
    justify-content: space-between;
}
