.user-popover-button {
    font-family: proxima-nova, sans-serif;
    min-height: 38px;
    font-size: 14px;
    line-height: 22px;
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
    appearance: initial;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(242, 244, 251);
    background: rgb(23, 24, 27);
    border-radius: 6px;
    transition: background-color 0.15s ease-out 0s, color, opacity, border;
    outline: none;
    text-decoration: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;

    width: 152px;
    margin-bottom: 4px
}

.user-popover-button:hover{
    background-color: #31363b;
    transition: background-color .1s linear;
}